/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* GENERAL */

body {
  font-family: "Lato", sans-serif;
  background: #eff7ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ul,
ol {
  list-style: none;
}

.green-divider {
  width: 100px;
  height: 2px;
  background: #2a9d8f;
  margin: 0 auto;
}

.white-divider {
  width: 100px;
  height: 2px;
  background: #eff7ff;
  margin: 0 auto;
}

/* --- MENU --- */

/* --- CAROUSEL --- */

.carousel-item:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.4;
}

.carousel-caption h5 {
  font-size: 5vw;
  font-weight: bold;
  text-shadow: 0px 0px 5px black;
}

.carousel-caption p {
  font-size: 1.5vw;
  margin-bottom: 1em;
  text-shadow: 1px 1px 2px black;
}

.slider-btn .btn {
  background-color: #2a9d8f;
  color: #eff7ff;
  border-radius: 2px;
  padding: 0.5em 1em;
  font-size: 1.3vw;
  text-shadow: 1px 1px 2px black;
}
.slider-btn .btn:hover {
  background-color: #eff7ff;
  color: #2a9d8f;
}

/* FOOTER */

footer {
  background: #2a9d8f;
  padding: 20px 0 40px;
}

footer .glyphicon {
  font-size: 25px;
  margin: 20px;
  color: #eff7ff;
  height: 36px;
}

footer .glyphicon:hover {
  font-size: 27px;
}

footer h5 {
  color: #eff7ff;
  font-weight: normal;
}
