/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* GENERAL */

body {
  font-family: "Lato", sans-serif;
  background: #2a9d8f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

img {
  max-width: 50%;
  height: auto;
}

section .heading {
  text-align: center;
  padding-top: 20px;
}

/* SECTION ABOUT */
#about {
  padding-top: 100px;
  background: #2a9d8f;
}

.profile-picture {
  text-align: center;
  margin: 0 auto;
  float: none;
}

#about .heading h1 {
  color: #eff7ff;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #010400;
  font-size: 30px;
}
#about .heading h3 {
  color: #eff7ff;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #010400;
  font-size: 22px;
}

#sectionDev,
#sectionAnim {
  font-weight: bold;
  color: #eff7ff;
  border: 1px solid #eff7ff;
  display: inline-block;
  margin-top: 20px;
  padding: 9px 25px;
  border-radius: 10px;
  transition: all 0.5s ease-in 0s;
  text-decoration: none;
  background: #279387;
}

#sectionDev:hover,
#sectionAnim:hover {
  background: #eff7ff;
  color: #2a9d8f;
  text-decoration: none;
}

.heading {
  text-align: center;
}
